.alert_box_message,.alert_box_message_moreTime{
    height: 50px;
    width: 40%;
    left: 25px;
    z-index: 10;
    position: absolute;
    top: 30px;
}
@media print {
    #ticket{
        display: block;

    }
    .profile-sidebar , .profile-content{
        display: none;
    }
    .print_card_member_ship{
        display: block !important;
    }
}
.print_card_member_ship{
    display: none;
}
#ticket{
    display: none;
}
.Or::after{
content: 'أو';
font-size: 25px;
color: #9e9e9e;
position: absolute;
top: 54px;
}
.curser-pointer{
    cursor: pointer;
}
.profileImg{
    width: 150px !important;
    height: 150px !important;
}
